benchmarks/CoMD/bin/CoMD_test
benchmarks/CoMD/src-openmp/CoMD_info.h
benchmarks/hpccg/HPCCG_test
benchmarks/simplemoc/src/SimpleMOC_test
benchmarks/XSBench/openmp-threading/XSBench_test
logs/CoMD/group_A.csv
logs/CoMD/group_B.csv
logs/CoMD/group_C.csv
logs/hpccg/group_A.csv
logs/hpccg/group_B.csv
logs/hpccg/group_C.csv
logs/minTally/group_A.csv
logs/minTally/group_B.csv
logs/minTally/group_C.csv
logs/simplemoc/group_A.csv
logs/simplemoc/group_B.csv
logs/simplemoc/group_C.csv
logs/XSBench/group_A.csv
logs/XSBench/group_B.csv
logs/XSBench/group_C.csv
benchmarks/CoMD/bin/CoMD_test
benchmarks/CoMD/src-openmp/CoMD_info.h
benchmarks/hpccg/HPCCG_test
benchmarks/simplemoc/src/SimpleMOC_test
benchmarks/XSBench/openmp-threading/XSBench_test
